# Builds
packages/risio-*/dist

# Dependencies
node_modules
npm-debug.log
yarn-error.log
yarn.lock

# Lerna
lerna-debug.log

# Documentation
_book

# IDE's
.vscode
.idea

# Code coverage
.nyc_output
coverage
